# catch-alls
* text=auto

# text
*.kotlin_module diff text

*.kt eol=lf
#*.xml diff text
pom.xml eol=lf
*.ino diff text
*.ini diff text 
*.cpp diff text
*.h diff text
*.md diff text

# binary
*.7z binary

