# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

uvision/*/Objects/
uvision/*/RTE/
uvision/*/Listings/
uvision/*/*~*TMP

.git-credentials

# commonly used throwaway help/manpage output suffixes of mine
*.--help 
*.help.out


.error_log
.time_ab.log
.time_elapsed.log

node_modules/

*.class
.idea/workspace.xml
kotlin/.idea/workspace.xml
.idea/sonarlint/issuestore/
kotlin/KotlinMaven/jaxrs-doclet .*
kotlin/KotlinMaven/vieques\-.*\.iml
