
/* 
	div for background image:
		div._2nmDZ

	url:
		http://syntj.com/duzl/IMG-20181029-WA0006.jpg

	css:
		div._2nmDZ {
			background: url("http://syntj.com/duzl/IMG-20181029-WA0006.jpg");

			background-size: 500px;
		}
*/
